/* General */
.root {
    -fx-faint-focus-color: transparent;
    -fx-font-size: 12px;
    -fx-effect: null;
    -fx-font-family: "Segoe UI";
}

.background {
    -fx-background-color: #cbcbcb;
}

.right-align {
    -fx-alignment: CENTER-RIGHT;
}

/* TextField */
.text-field,
.text-area {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.text-field:focused,
.text-area:focused {
    -fx-border-width: 2;
    -fx-focus-color: #5094D2;
}

/* DatePicker */
.date-picker,
.date-picker > .button {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-focus-color: #5094D2;
}

/* Buttons */
.button {
    -fx-padding: 4 8 4 8;
    -fx-background-color: #5cbfed;
    -fx-fill: black;
    -fx-background-radius: 0;
    -fx-border-color: #5daccf;
    -fx-border-width: 0 0 1.5 0;
    -fx-background-insets: 0 0 1 0;
}

.button:hover {
    -fx-background-color: #6fd1f5;
}

.button:pressed {
    -fx-background-color: #6fc8ec;
}

/* Check Box */
.check-box .box {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/* Table View */
.table-view {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-color: #cfd8e8;
    -fx-selection-bar: #70afe6;
    -fx-selection-bar-non-focused: #80bbf6;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #cfd8e8;
}

/* ComboBox */
.combo-box {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

/* Squeezebox */
.titled-pane {
    -fx-border-width: 0 0 0 6;
}

.titled-pane.heat {
    -fx-border-color: #cfd8e8;
}

.titled-pane.heat > .titled-pane {
    -fx-border-color: #f7f6ff;
}

.titled-pane.event > .title {
    -fx-background-color: #cfd8e8;
    -fx-border-width: 1;
    -fx-border-color: #c5cede;
}

.titled-pane.event:hover > .title {
    -fx-background-color: #dae3f3;
}

.titled-pane.heat > .title {
    -fx-background-color: #f7f6ff;
    -fx-border-width: 1;
    -fx-border-color: #edecf5;
}

.titled-pane.heat:hover > .title {
    -fx-background-color: #f9fdff;
}

/* Scroll Bar */
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-pref-width: 12px;
    -fx-padding: 0 0 -12 0;
}

.scroll-bar:horizontal {
    -fx-pref-height: 12px;
}

.track-background {
    -fx-background-color: transparent;
    -fx-pref-width: 12px;
}

.increment-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.increment-arrow {
    -fx-background-color: transparent;
}

.decrement-button {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.decrement-arrow {
    -fx-background-color: transparent;
}

.thumb {
    -fx-background-color: #bebebe;
    -fx-background-radius: 0;
}

.thumb:hover {
    -fx-background-color: #c6c6c6;
}

.thumb:pressed {
    -fx-background-color: #d2d2d2;
}

/* Menus */
.menu-bar {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0;
    -fx-border-color: #9b9b9b;
}

.menu {
    -fx-text-alignment: left;
    -fx-padding: 2 5 2 5;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #f2f2f2;
}

.menu:hover,
.menu:selected,
.menu:focused,
.menu:showing {
    -fx-background-color: #5094d2;
}

.menu .label {
    -fx-fill: black;
}

.context-menu {
    -fx-padding: 0;
    -fx-border-color: #cdcdcd;
    -fx-border-width: 1;
    -fx-effect: none;
}

.separator {
    -fx-background-color: #f2f2f2;
}

.menu-item {
    -fx-background-color: #f2f2f2;
    -fx-padding: 3 6 3 6;
}

.menu-item:hover,
.menu-item:selected,
.menu-item:focused {
    -fx-background-color: #5094D2;
    -fx-fill: white;
}

.menu-item {
    -fx-alignment: center-right;
}

/* Tabs */
.tab {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: #d4d4d4;
    -fx-border-color: #9b9b9b;
    -fx-border-width: 1 1 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
    -fx-padding: 0 6 1 8;
}

.tab:hover {
    -fx-background-color: #dddddd;
}

.tab:selected {
    -fx-background-color: white;
}

.tab-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 1;
}

.tab-close-button {
    -fx-background-color: transparent;
    -fx-mark-color: transparent;
    -fx-shape: null;
    -fx-pref-width: 16px;
    -fx-pref-height: 12px;
    -fx-background-image: url("/icons/tab_close_12.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-alignment: baseline-right;
}

.tab-close-button:hover {
    -fx-background-image: url("/icons/tab_close_12_hover.png");
}

.tab-header-background {
    -fx-border-color: #929292;
    -fx-border-width: 0 0 0 0;
    -fx-border-insets: 0 0 1 0;
}

.tab-header-area,
.tab-header-area:focused,
.tab-header-area:selected {
    -fx-pref-height: 24px;
    -fx-border-width: 0 0 0 1;
    -fx-border-insets: 0 0 1 -1;
    -fx-border-color: #929292;
    -fx-padding: -1 0 0 0;
    -fx-background-color: #f2f2f2;
}

.tab-content-area {
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-border-top: #929292;
}

/* Colours */
.cornflower {
    -fx-background-color: #cfd8e8;
    -fx-border-color: #a7b0c0;
}

.cornflower:hover {
    -fx-background-color: #dee8f9;
}

.cornflower:pressed {
    -fx-background-color: #d3ddee;
}

.green {
    -fx-background-color: #a5d257;
    -fx-border-color: #69a54a;
}

.green:hover {
    -fx-background-color: #b2e25c;
}

.green:pressed {
    -fx-background-color: #9fce59;
}

.blue {
    -fx-background-color: #42bee4;
    -fx-border-color: #3891b6;
}

.blue:hover {
    -fx-background-color: #43d2f9;
}

.blue:pressed {
    -fx-background-color: #44c8ee;
}

.yellow {
    -fx-background-color: #F3BD17;
    -fx-border-color: #dd8a17;
}

.yellow:hover {
    -fx-background-color: #ffdb37;
}

.yellow:pressed {
    -fx-background-color: #eecb2f;
}

.red {
    -fx-background-color: #ff7457;
    -fx-border-color: #ea3b1d;
}

.red:hover {
    -fx-background-color: #fa976f;
}

.red:pressed {
    -fx-background-color: #ff8a72;
}

.orange {
    -fx-background-color: #ff8913;
    -fx-border-color: #dd6405;
}

.orange:hover {
    -fx-background-color: #ffa133;
}

.orange:pressed {
    -fx-background-color: #ff8913;
}

.ice {
    -fx-background-color: #a5ffb9;
    -fx-border-color: #73e6cb;
}

.ice:hover {
    -fx-background-color: #ccffcf;
}

.ice:pressed {
    -fx-background-color: #b6ffc4;
}

.pink {
    -fx-background-color: #ff88a3;
    -fx-border-color: #db6c8e;
}

.pink:hover {
    -fx-background-color: #ff9bac;
}

.pink:pressed {
    -fx-background-color: #ff88a3;
}